:root {
    --clr: #ffffff;
}

.sidebar {
    position: fixed;
    background: #95AFE5;
    transition: 0.5s;
    overflow: hidden;
}

.sidebar.active {
    width: 80px;
}

.sidebar ul {
    position: relative;
    height: 100vh;
}

.sidebar ul li {
    position: relative;
    list-style: none;

}

.sidebar ul li.active {
    background: rgba(0, 0, 0, 0.15);
}

.sidebar ul li.active::before {
    content: "";
    position: absolute;
    top: -20px;
    right: 0;
    width: 20px;
    height: 20px;
    background: transparent;

}

.sidebar ul li.active::after {
    content: "";
    position: absolute;
    bottom: -20px;
    right: 0;
    width: 20px;
    height: 20px;
    background: transparent;

}

.sidebar ul li.logo .icon {
    margin-bottom: 20px;
}

.sidebar ul li.logo .text {
    color: var(--clr);
}

.sidebar ul li a {
    position: relative;
    display: flex;
    white-space: nowrap;
    text-decoration: none;

}

.sidebar ul li a .icon {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-width: 60px;
    padding-left: 20px;
    padding-right: 0;
    height: 70px;
    font-size: 1.5em;

}

.sidebar ul li a .text {
    position: relative;
    height: 70px;
    display: flex;
    align-items: center;
    padding-left: 10px;

}

.sidebar ul li.active a .icon {
    color: #fff;
}

.sidebar ul li.active a .text {
    color: var(--bg);
}

.sidebar ul li.active a .icon::before {
    content: "";
    position: absolute;
    inset: 5px;
    width: 60px;
    background: var(--bg);
    border-radius: 50%;

}
